header.header 
    .container-fluid 
        .row.align-items-center 
            .col-3
                .inner-logo 
                    a(href="/")
                        img(src="/images/icon.png")
            .col-6
                a(href="/") Home 
                a(href="/project") Project 
                a(href="#") Report 
                a(href="#") Blog
            .col-3 
                .inner-contact 
                    a(href="https://www.facebook.com" target="_blank")
                        i.fab.fa-facebook
                        