extends ../../layouts/default.pug


block main
                            
    .card.mb-3 
        .card-header 
        .card-body
            .row 
                .col-8
                .col-4
                    a(
                        href=`${prefixAdmin}/project-category/create`
                        class="btn btn-outline-success"
                    ) + Add new 
            

