.sider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            li 
                a(href=`${prefixAdmin}/blog`) Blog
            li 
                a(href=`${prefixAdmin}/project`) Project
            li 
                a(href=`${prefixAdmin}/report`) Report